<template>
  <button type="submit" :class="classes" @click="toggle">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="feather feather-heart"
    >
      <path
        d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
      />
    </svg>
    <span v-text="count"></span>
  </button>
  <!-- {{ str_plural('favorite', reply.favorites_count) }} -->
</template>

<script>
export default {
  props: ["reply"],
  computed: {
    classes() {
      return ["btn", this.active ? "btn-primary" : "btn-secondary"];
    },
    endpoint() {
      return `/replies/${this.reply.id}/favorites`;
    }
  },
  data() {
    return {
      count: this.reply.favoritesCount,
      active: this.reply.isFavorited
    };
  },
  methods: {
    async toggle() {
      return this.active ? this.destroy() : this.created();
    },

    async destroy() {
      await axios.delete(this.endpoint);
      this.active = false;
      this.count--;
      return;
    },

    async created() {
      await axios.post(this.endpoint);
      this.active = true;
      this.count++;
    }
  }
};
</script>

<style>
</style>
