<template>
  <div class="alert" :class="`alert-${type}`" role="alert" v-show="show" @click="hideFlash">
    <strong>{{ body }}</strong>
  </div>
</template>

<script>
export default {
  data() {
    return {
      body: "",
      type: "",
      show: false
    };
  },
  methods: {
    hideFlash() {
      this.show = false;
    }
  },
  mounted() {
    const flashTypes = ["success", "danger"];
    flashTypes.map(flashType => {
      Bus.$on(`flash-${flashType}`, message => {
        (this.show = true), (this.body = message), (this.type = flashType);
      });
    });
  }
};
</script>

<style scoped>
.alert {
  position: fixed;
  right: 25px;
  bottom: 25px;
}
</style>
