<template>
  <div>
    <div v-if="signedIn">
      <div class="form-group">
        <textarea
          name="body"
          id="body"
          class="form-control"
          placeholder="Have something to say?"
          rows="5"
          v-model="body"
        ></textarea>
      </div>
      <button type="submit" class="btn btn-primary" @click="addReply">Post</button>
    </div>

    <p class="text-center" v-else>
      Please
      <a href="/login">sign in</a> to view content
    </p>
  </div>
</template>

<script>
export default {
  data() {
    return {
      body: ""
    };
  },
  computed: {
    signedIn() {
      return window.App.signedIn;
    }
  },
  methods: {
    async addReply() {
      try {
        const response = await axios.post(location.pathname + "/replies", {
          body: this.body
        });
        if (response) {
          this.body = "";
          this.$emit("created_reply", response.data.reply);
          Bus.$emit("flash-success", "Reply created successfully");
        }
      } catch (e) {
        Bus.$emit("flash-danger", e.response.data.message);
      }
    }
  }
};
</script>
