<template>
  <li class="nav-item dropdown">
    <a
      class="nav-link"
      data-toggle="dropdown"
      href="#"
      role="button"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <i class="fas fa-bell"></i>
      {{ unreadNotificationsCount }}
    </a>

    <div class="dropdown-menu" v-if="hasNotifications">
      <div v-for="(notification, index) in notifications" :key="notification.id">
        <a
          class="dropdown-item"
          href="javascript:void(0)"
          v-html="notification.data.message"
          @click.prevent="markNotificationAsRead(notification)"
        ></a>
        <div class="dropdown-divider" v-show="notifications[index+1]"></div>
      </div>
    </div>

    <div class="dropdown-menu" v-else>
      <a class="dropdown-item" href="javascript:void(0)">No new notifications at this time</a>
    </div>
  </li>
</template>


<script>
export default {
  data() {
    return {
      notifications: false
    };
  },
  computed: {
    unreadNotificationsCount() {
      return !this.notifications ? "" : `(${this.notifications.length})`;
    },

    hasNotifications() {
      return !this.notifications ? 0 : this.notifications.length > 0;
    }
  },
  async created() {
    const username = window.App.user.name;
    const res = await axios.get(`/profiles/${username}/notifications`);
    if (res) {
      this.notifications = res.data;
    }
  },
  methods: {
    markNotificationAsRead(notification) {
      const username = window.App.user.name;
      const res = axios.delete(
        `/profiles/${username}/notifications/${notification.id}`
      );
      if (res) {
        window.location.href = notification.data.link;
      }
    }
  }
};
</script>

<style>
</style>
