<template>
  <nav aria-label="Page navigation example" v-if="shouldPaginate">
    <ul class="pagination">
      <li class="page-item" :class="{'disabled': page == 1}" @click.prevent="toPrevPage">
        <a class="page-link" href="#" rel="prev">Previous</a>
      </li>
      <li
        v-for="n in lastPageAsInt"
        class="page-item"
        :class="{active: page == n}"
        :key="n"
        @click.prevent="toPage(n)"
      >
        <a class="page-link" href="#" v-text="n"></a>
      </li>
      <li
        class="page-item"
        @click.prevent="toNextPage"
        :class="{'disabled': page == lastPageAsInt}"
      >
        <a class="page-link" href="#" rel="next">Next</a>
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
  props: ["metadata"],
  data() {
    return {
      page: this.metadata.current_page
    };
  },
  computed: {
    shouldPaginate() {
      return this.metadata.last_page > 1;
    },
    lastPageAsInt() {
      return parseInt(this.metadata.last_page);
    }
  },
  methods: {
    toPage(page) {
      this.page = page;
      this.$emit("toPage", this.page);
      this.updateUrl();
    },
    toNextPage() {
      this.page < this.lastPageAsInt ? this.page++ : this.lastPageAsInt;
      this.$emit("toPage", this.page);
    },

    toPrevPage() {
      this.page > 1 ? this.page-- : 1;
      this.$emit("toPage", this.page);
    },

    updateUrl() {
      history.pushState(null, null, `?page=${this.page}`);
    }
  }
};
</script>
