<template>
  <div>
    <div v-if="loading">Loading...</div>
    <div v-else>
      <div v-for="(reply, index) in items" :key="reply.id">
        <reply :data="reply" @deleted="remove(index)"></reply>
      </div>

      <paginator :metadata="metadata" @toPage="toPage"></paginator>

      <new-reply @created_reply="add"></new-reply>
    </div>
  </div>
</template>

<script>
import Reply from "./Reply";
import NewReply from "./NewReply";
import collection from "../mixins/collection";
import Paginator from "./Paginator";

export default {
  components: { Reply, NewReply, Paginator },
  mixins: [collection],
  data() {
    return {
      loading: true,
      metadata: {}
    };
  },
  created() {
    this.fetch();
  },
  methods: {
    async fetch() {
      const res = await axios.get(this.endPoint());
      this.refresh(res);
    },

    endPoint(page) {
      if (!page) {
        const queryString = location.search.match(/page=(\d+)/);
        page = queryString ? queryString[1] : 1;
      }
      return `${location.pathname}/replies?page=${page}`;
    },

    refresh(res) {
      if (res) {
        const { data, ...rest } = res.data;
        this.loading = false;
        this.items = data;
        this.metadata = rest;
        window.scrollTo(0, 0);
      }
    },

    async toPage(page) {
      const res = await axios.get(this.endPoint(page));
      this.refresh(res);
    }
  }
};
</script>


