<template>
  <div :id="'reply-'+reply.id" class="card mb-3">
    <div class="card-header">
      <div class="level">
        <h5 class="flex">
          <a :href="'/profiles/' + reply.owner.name" v-text="reply.owner.name"></a>
          said
          <span v-text="ago"></span>
        </h5>
        <!-- Favorite -->
        <div v-if="signedIn">
          <favorite :reply="reply"></favorite>
        </div>
      </div>
    </div>

    <!-- Actions on reply -->
    <div class="card-body">
      <form v-if="editingMode">
        <div>
          <div class="form-group">
            <textarea class="form-control" name id v-model="body"></textarea>
          </div>

          <button class="btn btn-sm btn-primary" @click="update">Update</button>
          <button class="btn btn-sm btn-link" @click="cancelEditingMode" type="button">Cancel</button>
        </div>
      </form>

      <div v-else v-html="body"></div>
    </div>

    <!-- Authorization missing here -->
    <div class="card-footer level" v-if="canUpdate">
      <button class="btn btn-sm mr-1" @click="toggleEditingMode" v-if="canUpdate">Edit</button>
      <button
        type="submit"
        class="btn btn-danger btn-sm"
        @click="deleteReply"
        v-if="canUpdate"
      >Delete</button>
    </div>
    <!-- End authorization -->
  </div>
</template>

<script>
import Favorite from "./Favorite";
import moment from "moment";

export default {
  props: ["data", "deleted"],
  components: { Favorite },
  data() {
    return {
      reply: this.data,
      body: this.data.body,
      editingMode: false
    };
  },
  computed: {
    ago() {
      return moment(this.reply.created_at).fromNow() + "...";
    },
    signedIn() {
      return window.App.signedIn;
    },
    canUpdate() {
      return this.authorize(user => {
        return this.data.user_id == user.id;
      });
    }
  },
  methods: {
    toggleEditingMode() {
      this.editingMode = true;
    },

    cancelEditingMode() {
      this.editingMode = false;
    },

    async update() {
      try {
        const res = await axios.put(`/replies/${this.data.id}`, {
          body: this.body
        });

        if (res.status === 200) {
          this.editingMode = false;
          Bus.$emit("flash-success", "Your reply has been updated");
        }
      } catch (e) {
        Bus.$emit("flash-danger", e.response.data.message);
      }
    },

    async deleteReply() {
      const res = await axios.delete(`/replies/${this.data.id}`);
      if (res.status === 200) {
        this.$emit("deleted", this.data.id);
        Bus.$emit("flash-success", "Your reply has been deleted");
      }
    }
  }
};
</script>
