<template>
  <button
    :class="classes"
    @click="toggleSubscription"
    v-show="showSubscription"
    v-text="subscribedText"
  ></button>
</template>

<style>
</style>

<script>
export default {
  props: ["thread"],
  data() {
    return {
      subscribed: this.thread.isSubscribedTo,
      subscribedText: this.thread.isSubscribedTo ? "Subscribed" : "Subscribe"
    };
  },
  computed: {
    classes() {
      return ["btn", this.subscribed ? "btn-primary" : "btn-secondary"];
    },

    showSubscription() {
      return (
        window.App.signedIn && window.App.user.id != this.thread.creator.id
      );
    }
  },

  methods: {
    toggleSubscription() {
      if (this.subscribed) {
        return this.unsubscribe();
      }

      return this.subscribe();
    },

    async subscribe() {
      const res = await axios.post(`${location.pathname}/subscriptions`);
      if (res) {
        this.subscribed = true;
        this.subscribedText = "Subscribed";
      }
    },

    async unsubscribe() {
      const res = await axios.delete(`${location.pathname}/subscriptions`);
      if (res) {
        this.subscribed = false;
        this.subscribedText = "Subscribe";
      }
    }
  }
};
</script>
